:root {
    --sky-blue: #87CEEB;
    --light-blue: #c0ebff;
    --medium-blue:  #086ba1;
    --dark-blue:  #003d5f;
    --dark-gray: #626a6d;
    --gray: #b5b8ba;
    --blue-gray: #a5bcc2;
    --night-one: #002b5c;
    --night-two: #07183d;
    --transparent-dark: #003e5f13;
    --transparent-light: #ffffff2d;
    --transparent-night: #ffffff0d;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--sky-blue);
    font-family: "Mulish", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*     search form      */
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: var(--dark-blue);
    font-size: 1.5rem;

    max-height: 300px;
    opacity: 1;
    overflow: hidden;

    transition: 
        max-height 0.5s ease,
        opacity 0.3s ease,
        padding 0.5s ease;
}

.search-form.hidden {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
}

input {
    font-size: 1.3rem;
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
    outline: none;
    border: none;
    color: #003d5f;  
    padding: 3px 10px;
}

.btn {
    margin-top: 10px;
    background-color: var(--medium-blue);
    color: #fff;
}
.btn:hover {
    background-color: var(--dark-blue);
}
.btn:active {
    transform: translate(1px, 1px);
}


/*     weather card      */
#weather {
    min-width: 400px; 
    max-width: 800px;
    background-color: var(--transparent-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-blue);
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.search-button {
    background-color: var(--transparent-light);
    border-radius: 5px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.search-button:hover {
    background-color: var(--transparent-dark);
}


.text-bold {
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.text-small {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}

h2 {
    font-size: 2rem;
}

.hourly-container {
    display: flex;
    gap: 20px;
    min-width: 390px;
    max-width: 600px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: var(--transparent-light);
    border-radius: 5px;
    padding-inline: 20px;
    margin-inline: 10px;
}


h3 {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 8px;
}

.container-wind {
    margin-top: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    margin-bottom: 0px;
}

.suntime-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suntime-text {
    font-size: 1.2rem;
    margin-block: 5px;
}

/*      background gradients       */
.weather.clear {
    background: linear-gradient(var(--sky-blue), var(--light-blue));
}
.weather.cloudy {
    background: linear-gradient(var(--blue-gray), var(--sky-blue));
}
.weather.overcast {
    background: linear-gradient(var(--gray), var(--blue-gray));
}
.weather.rain {
    background: linear-gradient(var(--dark-gray), var(--blue-gray));
}
.weather.night {
    background: linear-gradient(var(--night-one), var(--night-two));
}

#weather.card-night {
    background-color: var(--transparent-night);
    color: #fff;
}

.daily-container {
    background-color: var(--transparent-light);
    border-radius: 5px;
    padding: 5px 20px;
}
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600px;
    border-bottom:1px solid var(--dark-blue);
}
.line:last-of-type {
    border-bottom: none;
}

.line-icon {
    height: 20px;
    width: 20px;
}