body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8ac6e2;
    font-family: "Mulish", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: #003d5f;
    font-size: 1.5rem;
}

input {
    font-size: 1.3rem;
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
    outline: none;
    border: none;
    color: #003d5f;  
    padding: 3px 10px;
}

.btn {
    background-color: #086ba1;
    color: #fff;
}

.btn:hover {
    background-color: #003d5f;
}

.btn:active {
    transform: translate(1px, 1px);
}

#weather {
    min-width: 600px; 
    max-width: 800px;
    background-color: #003e5f13;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #003d5f;
    border-radius: 5px;
}